{% extends 'layout.html' %}
{% block content %}
    <div style="background-image: radial-gradient(farthest-corner at 45px 45px , #334b6f 0%, #273145 100%);">
        <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
            <div class="container bg-light rounded pt-2" style="padding-bottom: 20.2rem;">
                <div class="p-3">
                    <h1 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspDetalle: {{node}}</h1>

                    <hr>
                    <div id="loading" ></div>
                    <div id="my_table" class="scrollmenu"></div>
                    <br>
                    <button id="hoursbutton" class="btn btn-success">Exportar</button>
                    
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}