<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    {% if number == 404 %}
        <h1>{{number}}</h1>
    {% endif %}
    {% if number == 429 %}
        <h1>Error: {{number}}</h1>
        <h2>Se ha registrado un número de solicitudes mayor a lo permitido.</h2>
        <h2>Ir atrás</h2>
    {% endif %}
    {% if number == 500 %}
        <h1>{{number}}</h1>
    {% endif %}
</body>
</html>