{% extends 'layout.html' %}
{% block content %}

<!-- HORAS - QOE - PERIODO -->
{% if route == 0 %}

    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2" style="padding-bottom: 20rem;">
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-10 col-md-9 col-9">
                        <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspAnálisis</h2>
                    </div>
                    <div class="col-sm-2 col-md-3 col-3" style="display: flex ;justify-content: right;">
                        <button id="analysisbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button>
                    </div>
                </div>
                <form id="form_sumary" class="needs-validation" novalidate>
                    <div class="row ">
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Parámetro</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <select name="type" id="type" class="form-select">
                                    <option value="NEW_QOE">QoE</option>
                                    <option value="NEW_HOURS">Horas</option>
                                    <option value="PERIOD">Periodo</option>
                                    <option value="MODULATION">Modulación</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Plano(s)</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="text" class="form-control" id="id-node" name="node" placeholder="LMLO066 o LMLO">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Número de Días</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="number" min="1" max="20" class="form-control" id="id-days" name="days" placeholder="1 - 20">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12 col-2">
                            <div class="row"><p>&nbsp</p></div>
                            <div class="row"><button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;"> Analizar</button></div>
                        </div>
                        
                    </div>
                </form>
                <hr>
                <div id="loading" style="text-align: center;" ></div>
                <div id="my_table" class="scrollmenu" style="border-radius:10px;"></div>
                <br>
                
            </div>
        </div>
    </div>
    <script>
        let name = "QoE_Análisis"

        document.getElementById('analysisbutton').addEventListener('click', function() {
            var name_id_table = document.getElementsByTagName("table")[0].id

            if (name_id_table == 'qoetable'){
                name = "QoE_Análisis"
            } else if (name_id_table == 'hourstable'){
                name = "Horas_Análisis"
            } else if (name_id_table == 'periodtable'){
                name = "Periodo_Análisis"
            } else if (name_id_table == 'modulationtable'){
                name = "Modulación_Análisis"
            }
            
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll(`#`+name_id_table), name);
        });
    </script>
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>

<!-- DETALLE -->
{% elif route == 1 %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2" style="padding-bottom: 22rem;">
            <div class="p-3">
                {% if with_search == True %}
                <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspDetalle</h2>
                
                <form id="form_detail" class="needs-validation" novalidate>
                    <div class="row ">
                        
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Plano</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="text" class="form-control" name="node" placeholder="LMLO066 o LMLO">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Número de Días</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="number" min="1" max="20" class="form-control" name="days" placeholder="1 - 20">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12 col-2">
                            <div class="row"><p>&nbsp</p></div>
                            <div class="row"><button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;"> Analizar</button></div>
                        </div>
                        
                    </div>
                </form>
                <hr>
                <div id="loading" style="text-align: center;" ></div>
                {% endif %}
                {% if with_search == False %}
                <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspDetalle: {{node}}</h2>
                <hr>
                <br>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="scrollmenu">
                                <table class="table table-hover" id="hourstable" data-excel-name="Horas_QoE_afectado" >
                                    <thead class="table-dark">
                                        <tr>
                                            <td class="header"><strong>{{node}}</strong></td>
                                            {% for td in dates %}
                                                <td class="header"><strong>{{td}}</strong></td>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>Horas</strong></td>
                                            {% for data in data_values[0] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td><strong>QoE</strong></td>
                                            {% for data in data_values[1] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td><strong>Periodo</strong></td>
                                            {% for data in data_values[2] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td><strong>Cambios Modulación</strong></td>
                                            {% for data in data_values[3] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="row" id="table"></div>
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>

<!-- PRIORIDAD -->
{% elif route == 2 %}

    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2">
            <div class="p-3">
                <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspPrioridad&nbsp</h2>
                <hr>
                <br>
                <div class="row">
                    <div class="col-sm-10 col-md-9 col-9">
                        <h3 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/foco.png') }}" width="25" class="pb-2">&nbspTabla General</h3>
                    </div>
                    <div class="col-sm-2 col-md-3 col-3" style="display: flex ;justify-content: right;">
                        <button id="generalbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button>
                    </div>
                </div>
                <div class="scrollmenu" style="border-radius:10px;" id="div_generaltable"></div>
                <br>
                <hr>
                <br>
                <div class="row">
                    <div class="col-sm-10 col-md-9 col-9">
                        <h3 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/foco.png') }}" width="25" class="pb-2">&nbspTabla Específica</h3>
                    </div>
                    <div class="col-sm-2 col-md-3 col-3" style="display: flex ;justify-content: right;">
                        <button id="especificbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5">
                        <h5>&emsp;&ensp;Revisión por:</h5>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4" style="display: flex ;justify-content: left;">
                        <select name="type" id="type" class="form-select">
                            <option value="qoe">QoE</option>
                            <option value="hours">Horas</option>
                            <option value="period">Periodo</option>
                            <option value="modulation">Modulación</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="scrollmenu" style="border-radius:10px;" id="div_especifictable">
                </div>
                
            </div>
        </div>
    </div>
    <script>
        document.getElementById('generalbutton').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#generaltable"), "General_Priority");
        });
    </script>
    <script>
        document.getElementById('especificbutton').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#especifictable"), "Especific_Priority");
        });
    </script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>
    <script src="{{ url_for('static', filename='js/priority.js') }}"></script>
    <script>
        let data = '{{ data|tojson|safe }}'
        let jsondata = JSON.parse(data)
        build(jsondata)
    </script>

<!-- MODULACION -->
{% elif route == 3 %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2">
            <div class="p-3">
                <div class="row">
                    <div class= "col-xl-11 col-lg-10 col-md-10 col-sm-9 col-12">
                        <div class="row"><h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspCambios de Modulación</h2></div>
                    </div>
                    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-12" >
                        <div class="row"><button id="modulationbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button></div>
                    </div>
                </div>
                <div class="row">
                    <div class="row"><p>La tabla recopila información de la cantidad de veces que un plano ha cambiado a una modulación distinta a 64QAM en los últimos {{days_modulation}} días</p></div>
                </div>
                <hr>
                <div id="mytable" class="scrollmenu" style="border-radius:10px;" data-excel-name="Modulation_Changes"></div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('modulationbutton').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#modulationtable"), "Modulation_Changes");
        });
    </script>

    <script src="{{ url_for('static', filename='js/order.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modulation.js') }}"></script>
    <script>
        let data = '{{ data|tojson|safe }}'
        let jsondata = JSON.parse(data)
        build(jsondata)
    </script>

<!-- CARGA -->
{% elif route == 4 %}

    <script src="../static/js/table2excel.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="row">
            <div class="col-2 col-xl-4 col-lg-3 col-md-3 col-sm-2"></div>
            <div class="bg-light col-8 col-xl-4 col-lg-6 col-md-6 col-sm-8" style="padding: 2rem; margin-top: 6rem; border-radius: 2rem;" > 
                <div>
                    <div>
                        <h2 class="fw-bold" style="text-align: center;"> <img src="{{ url_for('static', filename='images/aboutme/years.png') }}" width="35" class="pb-2">&nbsp{{title}}&nbsp<img src="{{ url_for('static', filename='images/aboutme/years.png') }}" width="35" class="pb-2"></h2>
                    </div>
                    <br>
                    <form id="form_upload" class="needs-validation" novalidate>
                        <div class="row ">
                            <div class="col-3">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Acción:</label>
                            </div>
                            <div class="col-9">
                                <select name="action" id="type" class="form-select">
                                    <option value="upload">Cargar data</option>
                                    <option value="delete">Eliminar data</option>
                                    
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-3">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Fecha:</label>
                            </div>
                            <div class="col-9">
                                <input type="date" class="form-control" name="date">
                            </div>
                        </div>
                        <br>
                        <div id="alert"></div>
                        <div class="row " >
                            <div class="col-12" style=" display: flex; justify-content: center;" id="load">
                                <button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;">Subir data</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2 col-xl-4 col-lg-3 col-md-3 col-sm-2"></div>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename = 'js/order.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/upload.js') }}"></script>

<!-- DIARIO -->
{% elif route == 5 %}

    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2" style="padding-bottom: 17rem;">
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-10 col-md-9 col-9">
                        <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspDiario</h2>
                    </div>
                    <div class="col-sm-2 col-md-3 col-3" style="display: flex ;justify-content: right;">
                        <button id="daylybutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button>
                    </div>
                </div>
                <form id="form_sumary" class="needs-validation" novalidate>
                    <div class="row ">
                        
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Fecha</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="date" class="form-control" name="date" id="dayly_date">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12 col-2">
                            <div class="row"><p>&nbsp</p></div>
                            <div class="row"><button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;">Mostrar</button></div>
                        </div>
                        
                    </div>
                </form>
                <hr>
                <div id="loading" style="text-align: center;" ></div>
                <div id="div_dayly_table" class="scrollmenu" style="border-radius:10px;"></div>
                <br>
                
            </div>
        </div>
    </div>
    <script>
        let export_button = document.getElementById("daylybutton")
        let date_dayly
        export_button.addEventListener("click", function () {
            date_dayly = document.getElementById("dayly_date").value
        })

        document.getElementById('daylybutton').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#daylytable"), "Diario_"+date_dayly);
        });
    </script>
    <script src="{{ url_for('static', filename='js/dayly.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>

<!-- INFO -->
{% elif route == 6 %}



{% endif %}

{% endblock %}