{% extends 'layout.html' %}
{% block content %}

{% if route == 0 %}
<!-- HORAS - QOE - PERIODO -->

    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2" style="padding-bottom: 20rem;">
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-10 col-md-9 col-9">
                        <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspAnálisis</h2>
                    </div>
                    <div class="col-sm-2 col-md-3 col-3" style="display: flex ;justify-content: right;">
                        <button id="analysisbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button>
                    </div>
                </div>
                <form id="form_sumary" class="needs-validation" novalidate>
                    <div class="row ">
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Parámetro</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <select name="type" id="type" class="form-select">
                                    <option value="NEW_QOE">QoE</option>
                                    <option value="NEW_HOURS">Horas</option>
                                    <option value="PERIOD">Periodo</option>
                                    <option value="MODULATION">Modulación</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Plano(s)</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="text" class="form-control" id="id-node" name="node" placeholder="LMLO066 o LMLO">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Número de Días</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="number" min="1" max="20" class="form-control" id="id-days" name="days" placeholder="1 - 20">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12 col-2">
                            <div class="row"><p>&nbsp</p></div>
                            <div class="row"><button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;"> Analizar</button></div>
                        </div>
                        
                    </div>
                </form>
                <hr>
                <div id="loading" style="text-align: center;" ></div>
                <div id="my_table" class="scrollmenu" style="border-radius:10px;"></div>
                <div id="alert" ></div>
                <br>
                
            </div>
        </div>
    </div>
    <script>
        let name = "QoE_Análisis"

        document.getElementById('analysisbutton').addEventListener('click', function() {
            var name_id_table = document.getElementsByTagName("table")[0].id

            if (name_id_table == 'qoetable'){
                name = "QoE_Análisis"
            } else if (name_id_table == 'hourstable'){
                name = "Horas_Análisis"
            } else if (name_id_table == 'periodtable'){
                name = "Periodo_Análisis"
            } else if (name_id_table == 'modulationtable'){
                name = "Modulación_Análisis"
            }
            
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll(`#`+name_id_table), name);
        });
    </script>
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>

{% elif route == 1 %}
<!-- DETALLE -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2" style="padding-bottom: 22rem;">
            <div class="p-3">
                {% if with_search == True %}
                <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspDetalle</h2>
                
                <form id="form_detail" class="needs-validation" novalidate>
                    <div class="row ">
                        
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Plano</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="text" class="form-control" name="node" placeholder="LMLO066 o LMLO">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Número de Días</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="number" min="1" max="20" class="form-control" name="days" placeholder="1 - 20">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12 col-2">
                            <div class="row"><p>&nbsp</p></div>
                            <div class="row"><button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;"> Analizar</button></div>
                        </div>
                        
                    </div>
                </form>
                <hr>
                <div id="loading" style="text-align: center;" ></div>
                <div class="row" id="status"></div>
                <br>
                <div class="row" id="table"></div>
                <div id="alert" ></div>
                {% endif %}
                {% if with_search == False %}
                <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspDetalle: {{node}}</h2>
                <hr>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="scrollmenu" style="border-radius:10px;">
                            <table class="table table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <td class="header"><strong>CMTS</strong></td>
                                    <td class="header"><strong>Plano</strong></td>
                                    <td class="header"><strong>Dependencia</strong></td>
                                    <td class="header"><strong>Impedimento</strong></td>
                                    <td class="header"><strong>Revisión</strong></td>
                                    <td class="header"><strong>Tipo</strong></td>
                                    <td class="header"><strong>Días</strong></td>
                                    <td class="header"><strong>Problema</strong></td>
                                    <td class="header"><strong>Estado</strong></td>
                                    <td class="header"><strong>Detalle</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ status[0][0] }}</td>
                                <td>{{ status[0][1] }}</td>
                                <td>{{ status[0][2] }}</td>
                                <td>{{ status[0][3] }}</td>
                                <td>{{ status[0][4] }}</td>
                                <td>{{ status[0][5] }}</td>
                                <td>{{ status[0][6] }}</td>
                                <td>{{ status[0][7] }}</td>
                                <td>{{ status[0][8] }}</td>
                                <td>{{ status[0][9] }}</td>
                            </tr></tbody></table>
                        </div>
                    </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="scrollmenu" style="border-radius: 10px;">
                                <table class="table table-hover" id="hourstable" data-excel-name="Horas_QoE_afectado" >
                                    <thead class="table-dark">
                                        <tr>
                                            <td class="header"><strong>{{node}}</strong></td>
                                            {% for td in dates %}
                                                <td class="header"><strong>{{td}}</strong></td>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>Horas</strong></td>
                                            {% for data in data_values[0] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td><strong>QoE</strong></td>
                                            {% for data in data_values[1] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td><strong>Periodo</strong></td>
                                            {% for data in data_values[2] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td><strong>Cambios Modulación</strong></td>
                                            {% for data in data_values[3] %}
                                                <td>{{data}}</td>
                                            {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                {% endif %}
                
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>

{% elif route == 2 %}
<!-- PRIORIDAD -->

    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2">
            <div class="p-3">
                <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspPrioridad&nbsp</h2>
                <div class="row">
                    <p>La tabla recopila información de los planos afectados por Horas (mayor o igual a 3 horas) o QoE (Menor que 80 de puntuación promedio diaria)</p>
                </div>
                <br>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item" style="background-color: F2F5FA;">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="background-color: EDF0F5;">
                            <div>
                                <h4 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/foco.png') }}" width="25" class="pb-2">&nbspTabla General</h4>
                            </div>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div style="display: flex ;justify-content: right;">
                                <button id="generalbutton" class="btn btn-success">Exportar</button>
                            </div>
                            <br>
                            <div class="scrollmenu" style="border-radius:10px;" id="div_generaltable"></div>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="accordion-item" style="background-color: F2F5FA;">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color: EDF0F5;">
                            <div class="col-sm-10 col-md-9 col-9">
                                <h4 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/foco.png') }}" width="25" class="pb-2">&nbspTabla Específica</h4>
                            </div>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                                    <h5>&emsp;&ensp;Revisión por:</h5>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3" style="display: flex ;justify-content: left;">
                                    <select name="type" id="type" class="form-select">
                                        <option value="qoe">QoE</option>
                                        <option value="hours">Horas</option>
                                        <option value="period">Periodo</option>
                                        <option value="modulation">Modulación</option>
                                    </select>
                                </div>
                                <div class="col-xl-8 col-lg-7 col-md-5 col-sm-4 col-3" style="display: flex ;justify-content: right;">
                                    <button id="especificbutton" class="btn btn-success">Exportar</button>
                                </div>
                            </div>
                            <br>
                            <div class="scrollmenu" style="border-radius:10px;" id="div_especifictable"></div>
                        </div>
                      </div>
                    </div>
                    
                </div>
                <br>
                <hr>
                <br>
                <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspEditar Status de Plano</h2>
                <div class="row">
                    <p>Editar el status de un plano para mantener actualizado el seguimiento del mismo</p>
                </div>
                <br>
                <div class="container p-3" style="background-color: EDF0F5;">
                    <form id="form_status" class="needs-validation" novalidate>

                        <div class="row">
                            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-7 col-12">
                                <div class="row">
                                    <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Nuevo Status de Plano</label>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                                <div class="row ms-0 me-0">
                                    <button type="submit" class="btn btn-primary">
                                        Guardar Cambios
                                    </button>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="container">
                            <div class="row ">
                            
                                <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                                    <div class="row">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Plano</label>
                                    </div>
                                    <div class="row ms-0 me-0">
                                        <input type="text" class="form-control" name="pla" placeholder="LMLO066">
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="row ">
                                <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                                    <div class="row">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Dependencia</label>
                                    </div>
                                    <div class="row ms-0 me-0">
                                        <select name="dep" id="type" class="form-select">
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="Calidad">Calidad</option>
                                            <option value="OYM">OYM</option>
                                            <option value="CICSA">CICSA</option>
                                            <option value="Cotener">Cotener</option>
                                            <option value="Impedimento">Impedimento</option>
                                            
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                                    <div class="row">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Impedimento</label>
                                    </div>
                                    <div class="row ms-0 me-0">
                                        <select name="imp" id="type" class="form-select">
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="Edificio">Edificio</option>
                                            <option value="Centro Comercial">Centro Comercial</option>
                                            <option value="Sede Claro">Sede Claro</option>
                                            <option value="Provincia">Provincia</option>
                                            <option value="Mercado">Mercado</option>
                                            <option value="Zona Riesgosa">Zona Riesgosa</option>
                                            <option value="Falta de Materiales">Falta de Materiales</option>
                                            
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                                    <div class="row">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Tipo</label>
                                    </div>
                                    <div class="row ms-0 me-0">
                                        <select name="tip" id="type" class="form-select">
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="US">US</option>
                                            <option value="DS">DS</option>
                                            <option value="T3">T3</option>
                                            
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                                    <div class="row">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Problema</label>
                                    </div>
                                    <div class="row ms-0 me-0">
                                        <select name="pro" id="type" class="form-select">
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="PINT">PINT</option>
                                            <option value="Ruido de Día">Ruido de Día</option>
                                            <option value="Ruido de Noche">Ruido de Noche</option>
                                            <option value="Ruido Intermitente">Ruido Intermitente</option>
                                            <option value="Módulo RF Averiado">Módulo RF Averiado</option>
                                            <option value="Módulo Amplif. Averiado">Módulo Amplif. Averiado</option>
                                            <option value="CMs Afectados">CMs Afectados</option>
                                            <option value="Avería">Avería</option>
                                            <option value="Performance">Performance</option>
                                            
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                                    <div class="row">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Estado</label>
                                    </div>
                                    <div class="row ms-0 me-0">
                                        <select name="est" id="type" class="form-select">
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="Por Agendar - PEXT">Por Agendar - PEXT</option>
                                            <option value="Por Agendar - PINT">Por Agendar - PINT</option>
                                            <option value="Atendido - Solucionado">Atendido - Solucionado</option>
                                            <option value="Atendido - Pendiente">Atendido - Pendiente</option>
                                            <option value="Derivado">Derivado</option>
                                            
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 col-2">
                                    <div class="row">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Revisión</label>
                                    </div>
                                    <div class="col-9">
                                        <input type="date" class="form-control" name="rev">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row ">
    
                                <div>
                                    <div class="col-12">
                                        <label for="exampleFormControlInput1" class="form-label fw-bold fs-6">Detalle</label>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="det" maxlength="380"></textarea>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                    </form>
                    <div id="alert"></div>
                </div>
                
                
            </div>
        </div>
    </div>
    <script>
        document.getElementById('generalbutton').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#generaltable"), "General_Priority");
        });
    </script>
    <script>
        document.getElementById('especificbutton').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#especifictable"), "Especific_Priority");
        });
    </script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>
    <script src="{{ url_for('static', filename='js/priority.js') }}"></script>
    <script>
        let data = '{{ data|tojson|safe }}'
        let jsondata = JSON.parse(data)
        build(jsondata)
    </script>
    <script src="{{ url_for('static', filename='js/edit_status.js') }}"></script>


{% elif route == 3 %}
<!-- MODULACION -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2">
            <div class="p-3">
                <div class="row">
                    <div class= "col-xl-11 col-lg-10 col-md-10 col-sm-9 col-12">
                        <div class="row"><h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspCambios de Modulación</h2></div>
                    </div>
                    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-12" >
                        <div class="row"><button id="modulationbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button></div>
                    </div>
                </div>
                <div class="row">
                    <div class="row"><p>La tabla recopila información de la cantidad de veces que un plano ha cambiado a una modulación distinta a 64QAM y muestra aquellos que tuvieron cambios de modulación en los últimos 2 días</p></div>
                </div>
                <hr>
                <div id="mytable" class="scrollmenu" style="border-radius:10px;" data-excel-name="Modulation_Changes"></div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('modulationbutton').addEventListener('click', function() {
            var table2excel = new Table2Excel();
            table2excel.export(document.querySelectorAll("#modulationtable"), "Modulation_Changes");
        });
    </script>

    <script src="{{ url_for('static', filename='js/order.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modulation.js') }}"></script>
    <script>
        let data = '{{ data|tojson|safe }}'
        let jsondata = JSON.parse(data)
        build(jsondata)
    </script>

{% elif route == 4 %}
<!-- CARGA -->

    <script src="../static/js/table2excel.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="row">
            <div class="col-2 col-xl-4 col-lg-3 col-md-3 col-sm-2"></div>
            <div class="bg-light col-8 col-xl-4 col-lg-6 col-md-6 col-sm-8" style="padding: 2rem; margin-top: 6rem; border-radius: 2rem;" > 
                <div>
                    <div>
                        <h2 class="fw-bold" style="text-align: center;"> <img src="{{ url_for('static', filename='images/aboutme/years.png') }}" width="35" class="pb-2">&nbsp{{title}}&nbsp<img src="{{ url_for('static', filename='images/aboutme/years.png') }}" width="35" class="pb-2"></h2>
                    </div>
                    <br>
                    <form id="form_upload" class="needs-validation" novalidate>
                        <div class="row ">
                            <div class="col-3">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Acción:</label>
                            </div>
                            <div class="col-9">
                                <select name="action" id="type" class="form-select">
                                    <option value="upload">Cargar data</option>
                                    <option value="delete">Eliminar data</option>
                                    
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-3">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Fecha:</label>
                            </div>
                            <div class="col-9">
                                <input type="date" class="form-control" name="date">
                            </div>
                        </div>
                        <br>
                        <div id="alert"></div>
                        <div class="row " >
                            <div class="col-12" style=" display: flex; justify-content: center;" id="load">
                                <button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;">Subir data</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2 col-xl-4 col-lg-3 col-md-3 col-sm-2"></div>
        </div>
        
    </div>
    <script src="{{ url_for('static', filename = 'js/order.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/upload.js') }}"></script>

{% elif route == 5 %}
<!-- DIARIO -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/table2excel.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="container bg-light rounded pt-2" style="padding-bottom: 5rem;">
            <div class="p-3">
                <div class="row">
                    <div class="col-sm-10 col-md-9 col-9">
                        <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspDiario</h2>
                    </div>
                    
                </div>
                <div class="row">
                    <p>La tabla recopila información de los planos afectados por Horas o QoE (Tabla de Prioridad) o Cambios de modulación (Tabla de Modulación) y las clasifica según la siguiente prioridad:</p>
                    <pre>
    - Prioridad <strong>1</strong>: QoE &le; 70
    - Prioridad <strong>2</strong>: 70 < QoE &le; 80
    - Prioridad <strong>3</strong>: Horas &ge; 3
    - Prioridad <strong>4</strong>: Cambios de Modulación &ge; 1
    - Prioridad <strong>5</strong>: No afectado en la fecha
                    </pre>
                </div>
                <br>
                <form id="form_sumary" class="needs-validation" novalidate>
                    <div class="row ">
                        
                        <div class="mb-1 col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12">
                            <div class="row">
                                <label for="exampleFormControlInput1" class="form-label fw-bold fs-5">Fecha</label>
                            </div>
                            <div class="row ms-0 me-0">
                                <input type="date" class="form-control" name="dayly_date" id="dayly_date">
                            </div>
                            
                        </div>
                        <div class="mb-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-12 col-2">
                            <div class="row"><p>&nbsp</p></div>
                            <div class="row"><button type="submit" class="btn btn-primary" style="padding-top: 0.2rem;">Mostrar</button></div>
                        </div>
                        
                    </div>
                </form>
                <br>
                <div id="loading" style="text-align: center;" ></div>
                <div id="alert" ></div>
                <div id="div_dayly_table"></div>
                <br>
                
                <div id="div_statistics"></div>
                <div class="row">
                    <div class="col-6" id="div_statistics2"></div>
                </div>
                
                
            </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/dayly.js') }}"></script>
    <script src="{{ url_for('static', filename='js/order.js') }}"></script>

{% elif route == 6 %}
<!-- INFO -->


{% elif route == 7 %}
<!-- CARGA EN PROCESO -->

    <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
        <div class="row">
            <div class="col-2 col-xl-4 col-lg-3 col-md-3 col-sm-2"></div>
            <div class="bg-light col-8 col-xl-4 col-lg-6 col-md-6 col-sm-8" style="padding: 2rem; margin-top: 6rem; border-radius: 2rem;" > 
                <div>
                    <div>
                        <h2 class="fw-bold" style="text-align: center;">Carga de data en proceso</h2>
                        <div style=" display: flex; justify-content: center;">
                            <div class="spinner-border text-primary" role="status" >
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% endblock %}
0