{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div style="background-image: radial-gradient(farthest-corner at 45px 45px , #334b6f 0%, #273145 100%);">
        <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
            <div class="container bg-light rounded pt-2" style="padding-bottom: 20.2rem;">
                <div class="p-3">
                    <div class="row">
						<div class= "col-xl-11 col-lg-10 col-md-10 col-sm-9 col-12">
							<div class="row"><h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspCambios de Modulación</h2></div>
						</div>
						<div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-12" >
							<div class="row"><button id="modulationbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button></div>
						</div>
					</div>
					<div class="row">
						<div class="row"><p>La tabla recopila información de la cantidad de veces que un plano ha cambiado a una modulación distinta a 64QAM en los últimos {{days_modulation}} días</p></div>
					</div>
                    <hr>
					<div id="mytable" class="scrollmenu" style="border-radius:10px;" data-excel-name="Modulation_Changes"></div>
                    <div id="loading" style="text-align: center;" ></div>
				</div>
            </div>
        </div>
    </div>
    <script>
		document.getElementById('modulationbutton').addEventListener('click', function() {
			var table2excel = new Table2Excel();
  			table2excel.export(document.querySelectorAll("#modulationtable"), "Modulation_Changes");
		});
    </script>
    
	<script src="{{ url_for('static', filename='js/order.js') }}"></script>
    <script src="../static/js/table2excel.js"></script>
	<script src="{{ url_for('static', filename='js/modulation.js') }}"></script>


{% endblock %}