{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div style="background-image: radial-gradient(farthest-corner at 45px 45px , #334b6f 0%, #273145 100%);">
        <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
            <div class="container bg-light rounded pt-2" style="padding-bottom: 20.2rem;">
                <div class="p-3">
                    <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspPrioridad</h2>
                    <hr>
                    <br>
                    <div class="scrollmenu">
                        <table id="hourstable" class="table table-hover" data-excel-name="Priority">
                            <thead class="table-dark">
                                <tr>
                                    <td onclick="sortTable(0)" class="header"><strong>Plano</strong></td>
                                    <td onclick="sortTable(1)" class="header"><strong>Dependencia</strong></td>
                                    <td onclick="sortTable(2)" class="header"><strong>Impedimento</strong></td>
                                    <td onclick="sortTable(3)" class="header"><strong>Tipo</strong></td>
                                    <td onclick="sortTable(4)" class="header"><strong>Días</strong></td>
                                    <td onclick="sortTable(5)" class="header"><strong>Problema</strong></td>
                                    <td onclick="sortTable(6)" class="header"><strong>Estado</strong></td>
                                    <td onclick="sortTable(7)" class="header"><strong>Detalle</strong></td>
                                    <!-- {% for date in dates %}
                                    <td class="header"><strong>date</strong></td>
                                    {% endfor %} -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for value in values %}
                                <tr>
                                    {% for i in value %}
                                    {% if i == value[0] %}
                                    <td><a href="{{ '/detail/%s'%i }}" target= "_blank">{{i}}</a></td>
                                    {% else %}
                                    <td>{{i}}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
	<script src="../static/js/detail.js"></script>
	<script src="{{ url_for('static', filename='js/order_priority.js') }}"></script>


{% endblock %}