{% extends 'layout.html' %}
{% block content %}
    <script src="../static/js/table2excel.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sumary.css') }}">
    <div style="background-image: radial-gradient(farthest-corner at 45px 45px , #334b6f 0%, #273145 100%);">
        <div class="container-fluid pb-3" style="padding-top: 4.5rem;">
            <div class="container bg-light rounded pt-2" style="padding-bottom: 20.2rem;">
                <div class="p-3">
                    <h2 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/i.png') }}" width="35" class="pb-2">&nbspPrioridad&nbsp</h2>
                    <hr>
                    <br>
                    <div class="row">
						<div class="col-sm-10 col-md-9 col-9">
							<h3 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/foco.png') }}" width="25" class="pb-2">&nbspTabla General</h3>
						</div>
						<div class="col-sm-2 col-md-3 col-3" style="display: flex ;justify-content: right;">
							<button id="generalbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button>
						</div>
					</div>
                    <div id="loading1" style="text-align: center;" ></div>
                    <div class="scrollmenu" style="border-radius:10px;" id="div_generaltable"></div>
                    <br>
                    <hr>
                    <br>
                    <div class="row">
						<div class="col-sm-10 col-md-9 col-9">
							<h3 class="fw-bold"> <img src="{{ url_for('static', filename='images/aboutme/foco.png') }}" width="25" class="pb-2">&nbspTabla Específica</h3>
						</div>
						<div class="col-sm-2 col-md-3 col-3" style="display: flex ;justify-content: right;">
							<button id="especificbutton" class="btn btn-success" style="margin-bottom: 2rem;">Exportar</button>
						</div>
					</div>
                    <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-5">
                            <h5>&emsp;&ensp;Revisión por:</h5>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4" style="display: flex ;justify-content: left;">
                            <select name="type" id="type" class="form-select">
                                <option value="qoe">QoE</option>
                                <option value="hours">Horas</option>
                                <option value="period">Periodo</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div id="loading2" style="text-align: center;" ></div>
                    <div class="scrollmenu" style="border-radius:10px;" id="div_especifictable">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script>
		document.getElementById('generalbutton').addEventListener('click', function() {
			var table2excel = new Table2Excel();
  			table2excel.export(document.querySelectorAll("#generaltable"), "General_Priority");
		});
	</script>
    <script>
		document.getElementById('especificbutton').addEventListener('click', function() {
			var table2excel = new Table2Excel();
  			table2excel.export(document.querySelectorAll("#especifictable"), "Especific_Priority");
		});
	</script>
	<script src="{{ url_for('static', filename='js/order.js') }}"></script>
	<script src="{{ url_for('static', filename='js/priority.js') }}"></script>


{% endblock %}